.login {
	height: 90vh;
	position: relative;
}

.login-card {
	background: whitesmoke;
	padding: 20px 15px;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 2px solid transparent;
	border-radius: 10px;
	text-align: center;
}

.login-form {
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.login input {
	padding: 5px 10px;
	height: 40px;
	background: #e7e7e7;
	outline: none;
	border: none;
	margin-bottom: 10px;
}

.login input:active {
	outline: none;
	border: none;
}

.login button {
	padding: 12px 5px;
	margin-top: 10px;
}

.login-container {
	padding: 10px 0px 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}
.login-container h1 {
	margin-bottom: 30px;
}
